.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-weight: bold;
}
input,
li {
  padding: 0.3rem;
  font-size: 1.2rem;
}
button {
  all: unset;
  padding: 0.3rem 0.6rem;
  background-color: hotpink;
  border-radius: 5px;
  text-align: center;
}
.completed {
  text-decoration: line-through;
}

ul li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

button:hover {
  background-color: rgb(143, 143, 227);
}
button:disabled {
  background-color: rgb(244, 183, 213);
}
